body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.no-drinks {
  font-size: 30px;
  font-weight: bold;
}

.btn {
  margin: 3px;
}

.price{
  font-weight: bold;
}

.price-detail {
  color: #00008B;
  font-size: 20px;
}

.drink-name {
  font-weight: bold;
  font-size: 30px;
  color: #00008B;
}